.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 108px; /* To account for the fixed header and prototype banner */
}

.high-alert {
  box-shadow: 0 0 50px red inset;
}
